<!--头部-->
<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="../../assets/img/person.jpg" class="img-circle img-responsive"/>
      </div>
      <div class="col-md-5 text-center">
        <h1><strong>JG</strong></h1>
        <h4>Coding & Learning</h4>
      </div>
      <div class="col-md-5">
        <h3>WHO M I :</h3>

        I am a 26 years old guy who bala bala bala bala
        <i>
          <strong>627522616@qq.com</strong>
        </i>
      </div>
    </div>
  </div>
</section>
