<!--导航条-->
<nav class="navbar nav-pills nav-justified" role="navigation">
  <div class="container-fluid">
    <!--响应式菜单按钮-->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#example-navbar-collapse">
        <!--<span class="sr-only">切换导航</span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="home">主页</a>
    </div>


    <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">blog</a>
        </li>
        <li>
          <a href="#">coding</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            learning
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Java</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">WEB</a></li>
            <li class="divider"></li>
            <li><a href="#">Android</a></li>
            <li class="divider"></li>
            <li><a href="#">Spring技术栈</a></li>
          </ul>
        </li>
      </ul>

      <!--如果当前用户为空，则显示登录或者注册，如果不为空，则显示用户名-->
      <ul class="nav navbar-nav navbar-right" *ngIf="!currentUser?.username">
        <li class="">
          <a href="#" routerLink="login">Login</a>
        </li>
        <li>
          <a routerLink="register">register</a>
        </li>
      </ul>
      <!--当前用户已登录-->
      <ul class="nav navbar-nav navbar-right" *ngIf="currentUser?.username">
        <li class="">
          <!--<a href="#" routerLink="userInfo">{{currentUser.username}}</a>-->
          <a >{{currentUser.nickname}}</a>
        </li>
        <li *ngIf="currentUser?.role != 1">
          <!--<a routerLink="admin">后台管理</a>-->
          <a (click)="doLogout()">退出</a>
        </li><li *ngIf="currentUser?.role == 1">
          <!--<a routerLink="admin">后台管理</a>-->
          <a >后台管理</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
