<!--主体内容的右侧区域-->
<ul class="list-group">
  <li class="list-group-item">
    <strong>主题分类</strong>
  </li>
  <li class="list-group-item">
    <span class="badge">104</span>
    主题一
  </li>
  <li class="list-group-item">
    <span class="badge">34</span>
    主题二
  </li>
  <li class="list-group-item">
    <span class="badge">10</span>
    主题三
  </li>
  <li class="list-group-item">
    <span class="badge">50</span>
    主题四
  </li>

  <li class="list-group-item">
    <strong>其他分类</strong>
  </li>
  <li class="list-group-item">
    <span class="badge">104</span>
    其他一
  </li>
  <li class="list-group-item">
    <span class="badge">34</span>
    其他二
  </li>
  <li class="list-group-item">
    <span class="badge">10</span>
    其他三
  </li>
  <li class="list-group-item">
    <span class="badge">50</span>
    其他四
  </li>
</ul>
<br/>

<ul class="list-group">
  <li class="list-group-item">杂物</li>
  <li class="list-group-item">
    <!--<a href="#">-->
    <img src="../../assets/img/other1.jpg" class="img-responsive"/>
    <!--</a>-->
    <br/>
    <!--<a href="#">-->
    <img src="../../assets/img/other2.jpg" class="img-responsive"/>
    <!--</a>-->
    <br>
    <img src="../../assets/img/other3.jpg" class="img-responsive"/>
    <br>
    <img src="../../assets/img/other4.jpg" class="img-responsive"/>

  </li>
</ul>
