<form [formGroup]="userForm" class="form-horizontal" (submit)="onSubmit()" novalidate>
  <!--登录用户名-->


  <div class="form-group" >
    <label for="RegisterUserMobile" class="col-sm-2 control-label">mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="RegisterUserMobile"
             placeholder="手机号,登录账号" formControlName="mobile"
             [class.hasError]="userForm.get('mobile').invalid && userForm.get('mobile').touched">

      <div [hidden]="userForm.get('mobile').valid || userForm.get('mobile').untouched">
        <span class="help-block" [class.hidden]="!userForm.hasError('mobile','mobile')">
          {{userForm.getError('mobile','mobile')?.msg}}
        </span>
      </div>

    </div>
  </div>

  <!--昵称 去掉不要-->
  <!--<div class="form-group">
    <label for="RegisterNickName" class="col-sm-2 control-label">昵称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="RegisterNickName"
             placeholder="个人昵称" formControlName="nickname">
    </div>
  </div>-->
  <!-- <div class="form-group">
     <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
     <div class="col-sm-10">
       <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
     </div>
   </div>-->

  <!--用户名-->
  <div class="form-group">
    <label for="RegisterUserName" class="col-sm-2 control-label">username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="RegisterUserName"
             placeholder="输入你的用户名" formControlName="username"
             [class.hasError]="userForm.get('username').invalid && userForm.get('username').touched">
      <!--<span [hidden]="!userForm.hasError('minlength','username')"></span>-->

      <div [hidden]="userForm.get('username').valid || userForm.get('username').untouched">
        <span class="help-block" [class.hidden]="!userForm.hasError('required','username')">
          username是必填项!
        </span>
        <span class="help-block" [class.hidden]="!userForm.hasError('minlength','username')">
          最小长度6
        </span>
        <span class="help-block" [class.hidden]="!userForm.hasError('maxlength','username')">
          最大长12
        </span>
      </div>

    </div>
  </div>

  <!--password-->
  <div class="form-group">
    <label for="RegisterPassword" class="col-sm-2 control-label">passowrd</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="RegisterPassword"
             placeholder="将作为登录密码" formControlName="password"
             [class.hasError]="userForm.get('password').invalid && userForm.get('password').touched">

      <div [hidden]="userForm.get('password').valid || userForm.get('password').untouched">
        <span class="help-block" [class.hidden]="!userForm.hasError('required','password')">
          username是必填项!
        </span>
        <span class="help-block" [class.hidden]="!userForm.hasError('minlength','password')">
          最小长度6
        </span>
        <span class="help-block" [class.hidden]="!userForm.hasError('maxlength','password')">
          最大长12
        </span>
      </div>

    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">注册</button>
    </div>
  </div>
</form>

<div>
  {{userForm.status}}
</div>
