<!--单个内容区域-->
<div *ngFor="let blog of blogList">

  <div class="lds-css" *ngIf="!blog?.title">
    <div class="lds-gear" style="width: 100%;height:100%">
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <!--内容-->
          <div class="blog-main">
            <div class="heading-blog">
              {{blog?.title}}
            </div>
            <!--第二个参数是ID-->
            <a [routerLink]="['/blogs/blogDetail',blog.id]">
              <img *ngIf="blog?.imgUrl" src="{{blog?.imgUrl}}" class="img-responsive img-rounded" width="100%"/>
              <img *ngIf="!blog?.imgUrl" src="http://fakeimg.pl/640x320/?text=JianGuo&font=lobster" class="img-responsive img-rounded" width="100%"/>
            </a>
            <div class="blog-info">
              <span class="label label-primary">{{blog?.createTime | date:"yyyy-MM-dd"}}</span>
              <!--<span class="label label-success">主题分类</span>-->
              <span class="label label-danger">{{blog?.authorName}}</span>
              <!--<span class="label label-info">
                <i class="fa fa-thumbs-up"></i>+ 10
                <i class="fa fa-thumbs-down"></i>-3
              </span>-->
            </div>
            <div class="blog-txt">
              {{blog?.intro}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
