<!---->
<app-header></app-header>

<app-navbar></app-navbar>

<section>
  <div class="container">
    <!--<div class="row">
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>

      &lt;!&ndash;右侧内容&ndash;&gt;
      <div class="col-md-3">
        &lt;!&ndash;搜索框&ndash;&gt;
        <app-search></app-search>
        <br />
        <app-right-side></app-right-side>
      </div>
    </div>-->

    <router-outlet></router-outlet>
  </div>
</section>

<app-footer></app-footer>

