<!--博客详情-->
<div class="blog-main">
  <div class="heading-blog">
    The security is main concern while developing applications
  </div>
  <img src="assets/img/1.jpg" class="img-responsive img-rounded"/>
  <div class="blog-info">
    <span class="label label-primary">Posted on 26th November 2014</span>
    <span class="label label-success">In Technology</span>
    <span class="label label-danger">By Jhon</span>
    <span class="label label-info">
                                <i class="fa fa-thumbs-up"></i>+ 10
                        <i class="fa fa-thumbs-down"></i>-3
                            </span>
  </div>
  <div class="blog-txt">
    <!--富文本传入-->
    正文！
    <br>
    这里由富文本传入内容
    <br>
    AngularJS2 是一款开源JavaScript库，由Google维护，用来协助单一页面应用程序运行。
    AngularJS2 是 Angular 1.x 的升级版本，性能上得到显著的提高，能很好的支持 Web 开发组件。
    <br>
    AngularJS2 是一款开源JavaScript库，由Google维护，用来协助单一页面应用程序运行。
    AngularJS2 是 Angular 1.x 的升级版本，性能上得到显著的提高，能很好的支持 Web 开发组件。
    <br>
    AngularJS2 是一款开源JavaScript库，由Google维护，用来协助单一页面应用程序运行。
    AngularJS2 是 Angular 1.x 的升级版本，性能上得到显著的提高，能很好的支持 Web 开发组件。
    <br>
    AngularJS2 是一款开源JavaScript库，由Google维护，用来协助单一页面应用程序运行。
    AngularJS2 是 Angular 1.x 的升级版本，性能上得到显著的提高，能很好的支持 Web 开发组件。
  </div>
</div>
<!--BLOG MAIN SECTION END-->

<h3><strong>评论 :</strong></h3>
<hr/>
<ul class="media-list">
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">用户甲</h4>
      <p>
        这个博客很牛逼哈
      </p>
    </div>
  </li>

  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">用户甲</h4>
      <p>
        这个博客很牛逼哈
      </p>
    </div>
  </li>

  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">用户甲</h4>
      <p>
        这个博客很牛逼哈
      </p>
    </div>
  </li>

  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">用户甲</h4>
      <p>
        这个博客很牛逼哈
      </p>
    </div>
  </li>

  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">用户甲</h4>
      <p>
        这个博客很牛逼哈
      </p>
    </div>
  </li>
</ul>
